{% extends 'base.html' %}

{% block body %}
    
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>hello "{{user_new}}"</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
          
              <img src="{{profilee.PRF_profile_image.url}}" class="avatar img-circle img-thumbnail" alt="avatar">

              
        <form class="form"  method="POST" enctype="multipart/form-data" >
            {{Profile.PRF_profile_image}}
      </div>
    </hr>
    <br>

               


          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Comments</strong></span> {{comments_count}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Your Comments Likes</strong></span> {{my_like_count}}</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 0</li>
          </ul> 

          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Change Password</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="hidden" id="referer" name="FORMM1" >
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Old Password</h4></label>
                              {{form.old_password}}
                            </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>New Password</h4></label>
                            {{form.new_password1}}
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Replay New Password</h4></label>
                             {{form.new_password2}}
                          </div>
                      </div>
                      <button class="btn btn-lg btn-success" name="profile_ee" type="submit" style="
                      margin-top: 36px;
                      margin-left: 200px;"><i class="glyphicon glyphicon-ok-sign"></i> Change Password</button>
                  {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      {{message}}
                    </div>
                    
                    {% endfor %} 
        
                  {% endif %}
                  </form>
                  


                  







              
              <hr>
              

              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
               
             </div><!--/tab-pane-->

             <div class="tab-pane" id="settings">
            		
    
                  <hr>

              </div>
               



              </div>

              
          </div>

        </div>
    </div>
    {% endblock body %}
